tr.row_selected td{background-color:red;}


td.col_selected_1 {background-color:MediumTurquoise;}
td.col_selected_2 {background-color:Yellow;}

tr.row_selected td.col_selected_1 {background-color:MediumTurquoise;}
tr.row_selected td.col_selected_2 {background-color:Yellow;}

